page-home {
  ion-content {

    .wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      width: 100%;

      .app-title {
        font-size: 2rem;
        font-weight: 200;
        letter-spacing: 4px;
        align-self: flex-start;
        position: fixed;
      }

      .task {
        display: table-cell;
        text-align: center;
        vertical-align: middle;
        //font-family: 'Kalam', cursive;
        h1 {
          font-family: 'Amatic SC', cursive;
          font-size: 4.5rem;
          color: #FFF;
        }
      }
    }
  }
}
