<ion-content padding (click)="nxtTsk()" id="content" #content [style.background-color]="bgColor">

  <div class="wrapper">
    <div class="app-title">KRAFTAKT</div>

    <div *ngIf="task" class="task">
      <h1>{{task.content}}</h1>
    </div>
  </div>

</ion-content>
